{{ with .Inner }}{{/* don't do anything, just call it */}}{{ end }}
{{ $groupId := default "default" (.Get "groupId") }}
<select name="platform" id="platform">
  <option value="web">Web</option>
  <option value="mobile">Mobile</option>
</select>

<div class="recommendation-content">
  {{ range $idx, $recommendation := .Scratch.Get "recommendations" }}
  <a class="recommendation-item" href={{ .link }} target="_blank">
    <h4>
      {{ .name }}
    </h4>
    <div>
      {{ .content }}
    </div>
    <div>
      <button>{{ .category }}</button>
      <button class="{{ .type}}" autocapitalize="on">{{ .type }}</button>
    </div>
  </a>

  {{ end }}
</div>